#wrapper {
    background-color: var(--columns-bg);
}

#tab_wrapper {
    &:hover {
        background-color: var(--hover-on-container);
    }
}

#sub_title {
    color: var(--sub-color);
}

.settings_icon {
    
}

