#comments_container {
    &:hover {
        #comment {
            background-color: #1C3345;
        }
        svg,span {
            color: #1D93E3;
        }
    }
}

#retweet_container {
    &:hover {
        #retweet {
            background-color: #19363A;
        }
        svg,span {
            color: #02B076;
        }
    }
}

#like_container {
    &:hover {
        #like {
            background-color: #32253A;
        }
        svg,span {
            color: #E61979;
        }
    }
}

#chart_container {
    &:hover {
        #chart {
            background-color: #1C3345;
        }
        svg,span{
            color: #1D93E3;
        }
    }
}

#share {
    &:hover {
        background-color: #1C3345;
        svg,span {
            color: #1D93E3;
        }
    }
}